.interactive-enabled .step-change-bg-tray .fg-img {
  position: absolute;
  bottom: 100%;
}
.interactive-enabled .step-change-bg-tray > .layer {
  background: #696969;
  height: 155px;
}
.interactive-enabled .step-change-bg-tray .selector-tray {
  position: relative;
  bottom: 0;
  left: 0;
  display: flex;
  gap: 8px;
  background: var(--prompt-input-fill);
  border-radius: 0 0 8px 8px;
  font-weight: bold;
  box-sizing: border-box;
  width: 100%;
  color: var(--color-white);
}

.interactive-enabled .step-change-bg-tray .selector-tray .tray-items.submenu {
  display: none;
}

.interactive-enabled .step-change-bg-tray .selector-tray .sb-option {
  display: none;
  flex-direction: column;
  gap: 16px;
  margin-left: 16px;
}

.interactive-enabled .upload-img {
   top: 35%;
   display: flex;
   gap: 16px;
   background: var(--prompt-input-fill);
   border-radius: 8px;
   text-decoration: none;
   color: var(--prompt-btn-fill-light);
   font-weight: bold;
   padding: 6px 21px;
   align-items: center;
   justify-content: center;
   width: 260px;
   border: 3px solid transparent;
   box-sizing: border-box;
   box-shadow: 0 10px 10px rgba(0, 0, 0, 0.32);
   height: 64px;
   position: relative;
}
.interactive-enabled .step-change-bg-tray .selector-tray.change-bg .tray-reset {
  display: flex;
  flex-direction: row;
  gap: 16px;
  height: 20px;
  align-items: center;
}
.interactive-enabled .step-change-bg-tray .selector-tray.change-bg .tray-reset img {
  width: 24px;
  height: 24px;
  min-height: unset;
}
.interactive-enabled.light .step-change-bg-tray .selector-tray {
  background: var(--prompt-btn-fill-light);
  color: var(--prompt-text-color-light);
}
.interactive-enabled .interactive-holder.dark.step-change-bg-tray .selector-tray {
  background: var(--prompt-input-fill);
  color: var(--color-white);
}
.interactive-enabled .interactive-holder.light.step-change-bg-tray .selector-tray {
  background: var(--prompt-btn-fill-light);
  color: var(--prompt-text-color-light);
}
.interactive-enabled .step-change-bg-tray .selector-tray .tray-title {
  font-size: var(--type-body-m-size);
  line-height: var(--type-body-m-lh);
}
.interactive-enabled .step-change-bg-tray .selector-tray .tray-items {
  display: flex;
  flex-direction: row;
  gap: 14px;
  justify-content: space-between;
}
.interactive-enabled .step-change-bg-tray .selector-tray.change-bg .tray-option {
  display: flex;
  flex-direction: row;
  width: 210px;
  background-color: #222221;
  color: white;
  outline: 1px solid #6D6D6D;
  border-radius: 8px;
  align-items: center;
}
.interactive-enabled .step-change-bg-tray .selector-tray.change-bg .tray-items.submenu .submenu-option {
  display: none;
  flex-direction: column;
  gap: 16px;
  padding-left: 16px;
  justify-content: flex-start;
}
.interactive-enabled .step-change-bg-tray .selector-tray.change-bg .tray-items {
  flex-direction: column;
  gap: 16px;
  justify-content: flex-start;
}
.interactive-enabled .step-change-bg-tray .selector-tray .tray-items a.tray-thumbnail-img {
  display: block;
  width: 30%;
  height: 80px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  outline: none;
}
.interactive-enabled .step-change-bg-tray .selector-tray.change-bg .tray-items .tray-option a.tray-thumbnail-img {
  display: block;
  width: 40px;
  height: 40px;
  margin: 16px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  outline: none;
}
.interactive-enabled .step-change-bg-tray .selector-tray .tray-items a.tray-thumbnail-img .preload-img {
  display: none;
}
.interactive-enabled .step-change-bg-tray .selector-tray .tray-items a.tray-thumbnail-img .tray-thumbnail-outline {
  display: none;
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  border: 5px solid var(--prompt-highlight-color);
}
.interactive-enabled .step-change-bg-tray .selector-tray .tray-items a.tray-thumbnail-img.thumbnail-selected .tray-thumbnail-outline,
.interactive-enabled .step-change-bg-tray .selector-tray .tray-items a.tray-thumbnail-img:focus-visible .tray-thumbnail-outline,
.interactive-enabled .step-change-bg-tray .selector-tray .tray-items a.tray-thumbnail-img:hover .tray-thumbnail-outline {
  display: block;
}
@media screen and (min-width: 600px) {
  .interactive-enabled .step-change-bg-tray .fg-img {
    bottom: 0;
  }
  .interactive-enabled .step-change-bg-tray > .layer {
    background: none;
    height: auto;
  }
  /* .interactive-enabled .step-change-bg-tray .selector-tray {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    gap: 8px;
    background: var(--prompt-input-fill);
    border-radius: 0 0 8px 8px;
    font-weight: bold;
    box-sizing: border-box;
    width: 100%;
    color: var(--color-white);
  } */
  .interactive-enabled .step-change-bg-tray .selector-tray {
    position: absolute;
    font-weight: bold;
    background: var(--prompt-input-fill);
    color: var(--color-white);
    display: flex;
    flex-direction: row;
    padding: 16px;
    bottom: 158px;
    left: 85%;
    right: auto;
    gap: 0px;
    border-radius: 8px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.32);
    box-sizing: content-box;
    width: auto;
  }
  [dir="rtl"] .interactive-enabled .step-change-bg-tray .selector-tray {
    left: auto;
    right: 56%;
  }
  .interactive-enabled .step-change-bg-tray .selector-tray .tray-items {
    gap: 16px
  }
  .interactive-enabled.selector-vertical .step-change-bg-tray .selector-tray .tray-items,
  .interactive-enabled .step-change-bg-tray .selector-tray .tray-items.vertical {
    flex-direction: column;
  }
  .interactive-enabled .step-change-bg-tray .selector-tray .tray-items.submenu a.tray-thumbnail-img {
    width: 56px;
    height: 56px;
    border-radius: 8px;
  }
  .interactive-enabled .step-change-bg-tray .selector-tray .tray-items a.tray-thumbnail-img .tray-thumbnail-outline {
    height: calc(100% - 12px);
    width: calc(100% - 12px);
    border: 6px solid var(--prompt-highlight-color);
  }
}
@media screen and (min-width: 1200px) {
  .interactive-enabled.row-reversed .step-change-bg-tray .selector-tray {
    left: auto;
    right: 56%;
  }
  [dir="rtl"] .interactive-enabled.row-reversed .step-change-bg-tray .selector-tray {
    right: auto;
    left: 56%;
  }
}
