.logo-row {
  /* its surrounding blocks should be authored with the padding */
  padding: calc(var(--spacing-xl)) 0;
  overflow: hidden;
  position: relative;
}

.logo-row .logo-container {
  display: flex;
  gap: 96px;
  animation: scroll-left 60s linear infinite;
  width: max-content;
}

@keyframes scroll-left {
  0% {
    transform: translateX(calc(-1 * var(--scroll-offset, 0px)));
  }

  100% {
    transform: translateX(calc(var(--scroll-distance) - var(--scroll-offset, 0px)));
  }
}

.logo-row .logos-duplicate {
  display: flex;
  gap: 96px;
  flex: 0 0 auto;
}

.logo-row .logo {
  height: 48px;
}

