.firefly-accordion {
  --c-text-primary: #000000;
  --c-text-tertiary: #8F8F8F;
  --c-bg-default: #FFFFFF;
  --c-bg-active: #ECE4F3;
  --c-border: #E0E0E0;
  --c-focus: #0054BB;
  --s-spacing-sm: 1rem;
  --s-spacing-md: 1.5rem;
  --s-spacing-lg: 2rem;
  --acc-item-radius: 8px;
  --acc-item-shadow: 0 2px 8px rgba(0,0,0,0.05);
  --anim-speed: 0.4s;
  --anim-easing: cubic-bezier(0.4, 0, 0.2, 1);

  font-family: var(--body-font-family);
}

.firefly-accordion .foreground {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem
}

.firefly-accordion .foreground .firefly-accordion-item {
  background: var(--c-bg-default);
  border-radius: var(--acc-item-radius);
  box-shadow: var(--acc-item-shadow);
  transition: background-color var(--anim-speed) ease;
  overflow: hidden;
  border: 1px solid transparent;
  position: relative;
  cursor: pointer;
}

.firefly-accordion .foreground .firefly-accordion-item.is-open{
  background-color: var(--c-bg-active);
}

.firefly-accordion .foreground  .firefly-accordion-header {
  margin: 0;
}

.firefly-accordion .foreground .firefly-accordion-trigger {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr; 
  grid-template-areas: 
    "step"
    "title";
  row-gap: 4px;
  align-items: center;
  padding: var(--s-spacing-md);
  padding-right: calc(var(--s-spacing-md) + 40px); /* Buffer so text never hits the absolute icon */
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
  color: var(--c-text-primary);
  font-family: var(--body-font-family);
  position: relative;
  z-index: 2;
  outline: none
}

.firefly-accordion .foreground .firefly-accordion-trigger::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--radius);
  pointer-events: none; /* Ensures the box doesn't block mouse clicks */
  transition: bottom var(--anim-speed) var(--anim-easing); /* Animates smoothly with the panel */
}

.firefly-accordion .foreground .firefly-accordion-trigger:focus-visible::after{
  outline: 2px solid var(--c-focus);
  outline-offset: -2px;
  border-radius: var(--acc-item-radius);
}

.firefly-accordion .foreground .firefly-accordion-item.is-open .firefly-accordion-trigger::after {
  bottom: 16px; 
}


.firefly-accordion .foreground .step-indicator {
  grid-area: step;
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--c-text-tertiary);
  text-transform: uppercase;
  white-space: nowrap;
  line-height: 1.25;
}

.firefly-accordion .foreground .firefly-accordion-item.is-open .step-indicator {
  color: var(--c-text-primary);
}

.firefly-accordion .foreground .firefly-accordion-title {
  grid-area: title;
  font-size: 1.25rem;
  font-weight: 800;
  line-height: 1.5;
}

.firefly-accordion .foreground .firefly-accordion-icon{
  position: absolute;
  right: var(--s-spacing-md);
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--c-text-primary);
  z-index: 2;
}

.firefly-accordion .foreground .firefly-accordion-icon svg{
  width: 100%;
  height: 100%;
}

.firefly-accordion .foreground .firefly-accordion-icon .vert-line{
  transform-origin: 50% 50%;
  transition: transform var(--anim-speed) var(--anim-easing), opacity var(--anim-speed) var(--anim-easing);
}

.firefly-accordion .foreground .firefly-accordion-trigger[aria-expanded="true"] .firefly-accordion-icon .vert-line{
  transform: rotate(90deg);
  opacity: 0;
}

.firefly-accordion .foreground .firefly-accordion-panel {
  display: grid; 
  grid-template-rows: 0fr;
  visibility: hidden;
  transition: grid-template-rows var(--anim-speed) var(--anim-easing), visibility 0s linear var(--anim-speed); 
  position: relative;
  top: -16px; 
  z-index: 1;
}

.firefly-accordion .foreground .firefly-accordion-content {
  padding: 0 calc(var(--s-spacing-md) + 40px) 8px var(--s-spacing-md);
  opacity: 0;
  transition: opacity 0.2s ease;
}

.firefly-accordion .foreground .firefly-accordion-panel-inner {
  overflow: hidden;
}

.firefly-accordion .foreground .firefly-accordion-item.is-open .firefly-accordion-panel {
  grid-template-rows: 1fr;
  visibility: visible;
  transition: grid-template-rows var(--anim-speed) var(--anim-easing), visibility 0s linear 0s;
}

.firefly-accordion .foreground .firefly-accordion-item .firefly-accordion-content {
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 1;
  line-height: 1.5;
}

.firefly-accordion .foreground .firefly-accordion-item.is-open .firefly-accordion-content {
  opacity: 1;
  transition: opacity var(--anim-speed) ease 0.1s;
  
}

.firefly-accordion .foreground .firefly-accordion-content > *:first-child { margin-top: 0; }
.firefly-accordion .foreground .firefly-accordion-content > *:last-child { margin-bottom: 0; }

.firefly-accordion .foreground .firefly-accordion-panel p {
  line-height: 1.6;
  color: var(--c-text-primary);
  margin: 0;
}

@media (min-width: 481px) {
  .firefly-accordion .foreground .firefly-accordion-trigger {
    grid-template-columns: 55px 1fr;
    grid-template-areas: "step title";
    align-items: baseline;
    row-gap: 0;
    column-gap: 16px;
  }

  .firefly-accordion .foreground .step-indicator {
    font-size: 1rem;
  }

  .firefly-accordion .foreground .firefly-accordion-item .firefly-accordion-content {
    padding: 0 calc(var(--s-spacing-md) + 40px) 8px calc(var(--s-spacing-md) + 55px + 16px);
  }
}

@media (min-width: 769px) {
  .firefly-accordion .foreground .firefly-accordion-trigger {
    grid-template-columns: 65px 1fr;
    column-gap: var(--s-spacing-md); /* 24px */
    padding: var(--s-spacing-lg); /* 32px */
    padding-right: calc(var(--s-spacing-lg) + 40px);
  }

  .firefly-accordion .foreground .firefly-accordion-icon {
    right: var(--s-spacing-lg);
  }

  .firefly-accordion .foreground .firefly-accordion-title {
    font-size: 1.5rem;
  }
  
  .firefly-accordion .foreground .firefly-accordion-item .firefly-accordion-content {
    padding: 0 calc(var(--s-spacing-lg) + 40px) 8px calc(var(--s-spacing-lg) + 65px + var(--s-spacing-md));
    font-size: 1.25rem;
  }

  .firefly-accordion .foreground .firefly-accordion-panel {
    top: -24px;
  }

  .firefly-accordion .foreground .firefly-accordion-item.is-open .firefly-accordion-trigger::after {
    bottom: 24px; 
  }
}

