.step-cards {
  --bg-color: #F5F7FA;
  --card-bg: #FFF;
  --text-primary: #000;
  --text-secondary: #5D5D5D;
  --accent-color: #0265DC;
  --border-radius: 0.75rem;      /* 12px */
  --l-spacing-unit: 1.5rem;        /* 24px */
  --m-spacing-unit: 1.25rem;
  --transition-speed: 0.3s;
  --l-card-max-width: 28.75rem;       /* 460px */
  --m-card-max-width: 18.125rem;
  --s-card-max-width: 16rem;
  --step-track-margin-left: 9.635%; /* (74px / 768px) * 100 */
  --xs-font-size: 1rem;
  --s-font-size: 1.25rem;
  --m-font-size: 1.875rem;
  --l-font-size: 2.25rem;

  font-family: var(--body-font-family);
  position: relative;
}

.step-cards .foreground {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  width: 100%;
}

.step-cards .foreground .step-card-track {
  display: flex;
  gap: var(--m-spacing-unit);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin-left: calc(var(--step-track-margin-left) - 1rem);
  padding: 0.5rem 0.5rem 1.25rem 1rem;
  scroll-padding-left: 1rem;
  position: relative;
}

.step-cards .foreground .step-card-track::-webkit-scrollbar{
  display: none;
}

.step-cards .foreground .step-card-track > div {
  flex: 0 0 auto;
  width: 100%;
  max-width: var(--s-card-max-width);
  background: var(--card-bg);
  border-radius: var(--border-radius);
  padding: 1.375rem;
  scroll-snap-align: center;
  box-shadow: 0 3.04px 2.44px 0 #00000013, 0 7.32px 5.85px 0 #0000001C;
  display: flex;
  flex-direction: column;
  position: relative;
}

.step-cards .foreground .step-card-track > div:focus-visible {
  outline-offset: 0.125rem;
}

.step-cards .foreground h2 {
  font-size: var(--xs-font-size);
  text-transform: uppercase;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 1rem;
  color: var(--text-primary);
  line-height: 125%;
}

.step-cards .step-header-group {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 1rem;
}


.step-cards .step-icon {
  background-color: #E0E0E0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:5px;
}

.step-cards .step-icon img {
  width: 2.5rem;
  height: 2.5rem;
  flex-shrink: 0;
  color: var(--text-primary); 
  object-fit: contain;
}

.step-cards .foreground h1{
  font-size: var(--s-font-size);
  font-weight: 900;
  line-height: 98%;
  margin:0;
  color: var(--text-primary)
}

.step-cards .foreground p {
  font-size: var(--xs-font-size);
  line-height: 150%;
  font-weight: 400;
  color: var(--text-secondary);
}

.step-cards .foreground .carousel-controls {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 0 0.25rem;
  align-items: center;
}

.step-cards .foreground .progress-track {
  display: none;
  width: 100%;
  height: 0.62rem;
  background-color: #E0E0E0;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  touch-action: none;
}

.step-cards .foreground .progress-track::before{
  content: '';
  position: absolute;
  top: -10px;
  bottom: -10px;
  left: 0;
  right: 0;
  z-index: 1;
}

.step-cards .foreground .progress-indicator {
  position: absolute;
  left: 0;
  top:0;
  height: 100%;
  background-color: #CCCCE0;
  width: 0;
  border-radius: 1rem;
}

.step-cards .foreground .nav-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.step-cards .foreground .nav-btn {
  background: #191919;
  border: 0.0625rem solid transparent;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #FFF;
  box-shadow: 0 0.125rem 0.3125rem rgba(0 0 0 / 10%);
  transition: background-color 0.2s, transform 0.2s, box-shadow 0.2s;
}

.step-cards .foreground .nav-btn:hover{
  background: #333;
  box-shadow: 0 0.25rem 0.5rem rgba(0 0 0 / 15%);
  transform: translateY(-0.0625rem);
}

.step-cards .foreground .nav-btn:disabled {
  opacity: 1;
  background: #E5E5E5;
  color: #8E8E8E;
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}

.step-cards .foreground .nav-btn svg {
  width: 1.25rem;
  height: 1.25rem;
}


@media (prefers-reduced-motion: no-preference) {
  .step-cards .foreground .step-card-track{
    scroll-behavior: smooth;
  }
  
  .step-cards .foreground .step-card-track > div {
    transition: border-color var(--transition-speed), transform var(--transition-speed), box-shadow var(--transition-speed);
  }

  .step-cards .foreground .nav-btn {
    transition: all 0.2s ease;
  }
  
}

@media screen and (min-width: 768px) {
  .step-cards .foreground .step-card-track > div {
    max-width: var(--m-card-max-width);
  }
}

@media screen and (min-width: 900px) {
  .step-cards .foreground .carousel-controls {
    flex-direction: row;
    justify-content: center;
    margin-top: 1.25rem;
  }

  .step-cards .foreground .nav-buttons {
    display: none;
  }

  .step-cards .foreground .progress-track {
    display: block;
    width: 60vw;
    max-width: 60vw;
  }

  .step-cards .foreground .step-card-track > div {
   padding: 2rem; 
   max-width: var(--l-card-max-width);
   scroll-snap-align: start;
  }
  
  .step-cards .foreground h1{
    font-size: var(--l-font-size);

  }

  .step-cards .foreground h2{
    font-size: var(--m-font-size);
    
  }
  
  .step-cards .foreground p {
    font-size: var(--s-font-size);
  }

  .step-cards .foreground .step-card-track{
    gap: var(--l-spacing-unit);
  }
}



