
:root {
  --prompt-input-fill: #262626;
  --prompt-btn-fill: #323232;
  --prompt-text-color: #D1D1D1;
  --prompt-text-border: #707070;
  --prompt-btn-text: #FFFFFF;
  --prompt-highlight-color: #1473E6;
}

.interactive-metadata {
  display: none;
}

.interactive-enabled .layer {
  display: none;
}

.interactive-enabled .layer.show-layer {
  display: block;
}

/* .interactive-enabled .foreground .prompt-btn {
  position: absolute;
  cursor: pointer;
  top: 70%;
  left: 5%;
  display: flex;
  gap: 10px;
  padding: 8px;
  background: #262626;
  border: 2px solid #707070;
  border-radius: 8px;
  text-decoration: none  !important;
  color: #fff !important;
  font-weight: bold;
} */

.interactive-enabled .asset {
  position: relative;
  height: 570px;
  width: 570px;
}

.interactive-enabled .asset img {
  height: 570px;
  width: 570px;
}

/* .gray-button img {
  width: 20px !important; 
  height: auto !important;
  min-height: 20px !important;
}


.gray-button.start-over {
  position: absolute;
  cursor: pointer;
  top: 70%;
  left: 50%;
  display: flex;
  gap: 10px;
  padding: 8px;
  background: #262626;
  border: 2px solid #707070;
  border-radius: 8px;
  text-decoration: none  !important;
  color: #fff !important;
  font-weight: bold;
} */

.layer {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.step-crop {
  position: relative;
}

.gray-button {
  position: absolute;
  cursor: pointer;
  display: flex;
  gap: 10px;
  padding: 8px;
  background: #262626;
  border: 2px solid #707070;
  border-radius: 8px;
  text-decoration: none  !important;
  color: #fff !important;
  font-weight: bold;
}

.gray-button img {
  width: 20px !important; 
  height: auto !important;
  min-height: 20px !important;
}
