
:root {
  --prompt-input-fill: #262626;
  --prompt-btn-fill: #323232;
  --prompt-text-color: #D1D1D1;
  --prompt-text-border: #545454;
  --prompt-btn-text: #FFFFFF;
  --prompt-highlight-color: #1473E6;
  --layer-background-fill: #272928;
}

.interactive-metadata {
  display: none;
}

.interactive-enabled .layer {
  display: none;
}

.interactive-enabled .layer.show-layer {
  display: block;
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 60px;
  background: var(--layer-background-fill);
  display: flex;
  align-items: center;
  border-radius: 0px 0px 8px 8px;
}

.interactive-enabled .asset {
  position: relative;
  height: 360px;
  width: 300px;
  border-radius: 16px;
}

.interactive-enabled .asset img {
  border-radius: 16px 16px 0 0;
}

.interactive-enabled .layer .gray-button {
  position: absolute;
  box-sizing: border-box;
  border-radius: 8px;
  border: 3px solid transparent;
  cursor: pointer;
  display: flex;
  gap: 8px;
  padding: 16px;
  text-decoration: none;
  color: var(--prompt-btn-text);
  background: var(--prompt-btn-fill);
  font-weight: bold;
  align-items: center;
}

.interactive-enabled .layer .gray-button img {
  width: 24px;
  height: auto;
  min-height:auto
}

.interactive-enabled .layer .gray-button:hover { 
  border: 3px solid var(--prompt-highlight-color);
} 

@media screen and (min-width: 1200px) {
  .interactive-enabled .asset {
    position: relative;
    height: 570px;
    width: 570px;
  }

  .interactive-enabled .layer.show-layer {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    background: none;
    height: 100%;
    width: 100%;
  }

  .interactive-enabled .asset img {
    border-radius: 16px;
  }
}

