
:root {
  --prompt-input-fill: #262626;
  --prompt-btn-fill: #323232;
  --prompt-text-color: #D1D1D1;
  --prompt-text-border: #545454;
  --prompt-btn-text: #FFFFFF;
  --prompt-highlight-color: #1473E6;
  --layer-background-fill: #272928;
}

.interactive-metadata {
  display: none;
}

.interactive-enabled .layer {
  display: none;
}

.interactive-enabled .layer.show-layer {
  display: block;
  position: relative;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 60px;
  background: var(--layer-background-fill);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px 0px 8px 8px;
}

.interactive-enabled .image {
  position: relative;
  flex-direction: column;
  height: 360px;
  width: 300px;
  border-radius: 16px;
}

.interactive-enabled .image img {
  border-radius: 16px 16px 0 0;
}

.interactive-enabled .layer .gray-button {
  position: absolute;
  box-sizing: border-box;
  border-radius: 8px;
  border: 3px solid transparent;
  font-size: var(--type-body-m-size); 
  line-height: var(--type-body-m-lh);
  cursor: pointer;
  display: flex;
  gap: 8px;
  padding: 16px;
  text-decoration: none;
  color: var(--prompt-btn-text);
  background: var(--prompt-btn-fill);
  font-weight: bold;
  align-items: center;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  user-select: none;
}

.interactive-enabled .layer-0 .gray-button .ia-circle {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  border: 8px solid var(--prompt-highlight-color);
  border-radius: 50%;
  opacity: 0;
  animation: circle 2700ms ease-in-out 500ms backwards infinite;
}

.interactive-enabled .layer-0 .gray-button {
  animation: outline-fill 2700ms 500ms forwards infinite;
}

@keyframes circle {
  0% {
    opacity: 0;
  }
  18% {
    transform: scale(100%);
    opacity: 0.5;
  }
  29% {
    transform: scale(100%);
    opacity: 0.5;
  }
  44% {
    transform: scale(50%);
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes outline-fill {
  0% {
    border-color: transparent ;
    background: var(--prompt-btn-fill);
  }
  18% {
    border-color: var(--prompt-highlight-color) ;
    background: var(--prompt-btn-fill);
  }
  24% {
    border-color: var(--prompt-highlight-color) ;
    background: var(--prompt-btn-fill);
  }
  59% {
    border-color: var(--prompt-highlight-color) ;
    background: var(--prompt-highlight-color);
  }
  90% {
    border-color: var(--prompt-highlight-color) ;
    background: var(--prompt-btn-fill);
  }
}

.interactive-enabled .foreground.container .image .layer .gray-button picture,
.interactive-enabled .foreground.container .image .layer .gray-button img {
  width: 24px;
  height: 24px;
  max-width: 24px;
  border-radius: 0;
}

.interactive-enabled .layer .gray-button:hover { 
  border: 3px solid var(--prompt-highlight-color);
  background: var(--prompt-btn-fill);
  animation-play-state: paused;
} 

.interactive-enabled .layer .gray-button:hover .ia-circle { 
  display: none;
} 

@media screen and (min-width: 768px) {
  .interactive-enabled .image {
    position: relative;
    height: 570px;
    width: 570px;
  }

  .interactive-enabled .layer.show-layer {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    background: none;
    height: 100%;
    width: 100%;
  }

  .interactive-enabled .foreground.container .image .layer .gray-button picture,
  .interactive-enabled .foreground.container .image .layer .gray-button img {
    width: 34px;
    height: 34px;
    max-width: 34px;
    border-radius: 0;
  }

  .interactive-enabled .image img {
    border-radius: 16px;
  }

  .interactive-enabled .layer .gray-button {
    font-size: var(--type-body-xl-size); 
    line-height: var(--type-body-xl-lh);
  }

  .interactive-enabled .layer-0 .gray-button .ia-circle {
    width: 56px;
    height: 56px;
  }
}

