.interactive-enabled .step-selector-tray .selector-tray {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 16px 12px 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background: var(--prompt-input-fill);
  border-radius: 0 0 8px 8px;
  font-weight: bold;
}

.interactive-enabled.light .step-selector-tray .selector-tray {
  background: var(--prompt-btn-fill-light);
}

.interactive-enabled .step-selector-tray .selector-tray .tray-items {
  display: flex;
  flex-direction: row;
  gap: 14px
}

.interactive-enabled .step-selector-tray .selector-tray .tray-items.state-hovering a.tray-thumbnail-img.thumbnail-selected,
.interactive-enabled .step-selector-tray .selector-tray .tray-items a.tray-thumbnail-img {
  position: relative;
  display: block;
  width: 80px;
  height: 80px;
  min-height: 80px;
  overflow: hidden;
  border-radius: 3px;
}

.interactive-enabled .step-selector-tray .selector-tray .tray-items a.tray-thumbnail-img.thumbnail-selected,
.interactive-enabled .step-selector-tray .selector-tray .tray-items a.tray-thumbnail-img:hover {
  width: 70px;
  height: 70px;
  min-height: 70px;
  border: 5px solid var(--prompt-highlight-color);
  border-radius: 2px;
}

.interactive-enabled .step-selector-tray .selector-tray .tray-items a.tray-thumbnail-img .tray-item-label {
  display: none;
}

.interactive-enabled .step-selector-tray .selector-tray .tray-items a.tray-thumbnail-img img {
  position: absolute;
  min-width: 80px;
  min-height: 80px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0;
}

@media screen and (min-width: 768px) {
  .interactive-enabled .step-selector-tray .selector-tray {
    bottom: 70px;
    left: 318px;
    padding: 24px 16px 16px 16px;
    gap: 16px;
    border-radius: 9px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.32);
  }

  .interactive-enabled .step-selector-tray .selector-tray .tray-items {
    gap: 16px
  }

  .interactive-enabled.selector-vertical .step-selector-tray .selector-tray .tray-items,
  .interactive-enabled .step-selector-tray .selector-tray .tray-items.vertical {
    flex-direction: column;
  }

  .interactive-enabled .step-selector-tray .selector-tray .tray-items.state-hovering a.tray-thumbnail-img.thumbnail-selected,
  .interactive-enabled .step-selector-tray .selector-tray .tray-items a.tray-thumbnail-img {
    width: 80px;
    height: 120px;
    min-height: 120px;
    border: none;
  }

  .interactive-enabled .step-selector-tray .selector-tray .tray-items a.tray-thumbnail-img img {
    min-width: 80px;
    min-height: 120px;
  }

  .interactive-enabled .step-selector-tray .selector-tray .tray-items a.tray-thumbnail-img.thumbnail-selected,
  .interactive-enabled .step-selector-tray .selector-tray .tray-items a.tray-thumbnail-img:hover {
    width: 68px;
    height: 108px;
    min-height: 108px;
    border: 6px solid var(--prompt-highlight-color);
    border-radius: 2px;
  }
}
