.interactive-enabled .step-selector-tray .selector-tray {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 16px 12px 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background: var(--prompt-input-fill);
  border-radius: 0 0 8px 8px;
  font-weight: bold;
}

.interactive-enabled.light .step-selector-tray .selector-tray {
  background: var(--prompt-btn-fill-light);
}

.interactive-enabled .step-selector-tray .selector-tray .tray-items {
  display: flex;
  flex-direction: row;
  gap: 14px
}

.interactive-enabled .step-selector-tray .selector-tray .tray-items a {
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  display: block;
  height: 80px;
  width: 80px;
}

.interactive-enabled .step-selector-tray .selector-tray .tray-items a .tray-item-label {
  display: none;
}

.interactive-enabled .step-selector-tray .selector-tray .tray-items img:hover {
  outline: 5px solid var(--prompt-highlight-color);
  outline-offset: -5px;
}

.interactive-enabled .step-selector-tray .selector-tray .tray-items a img {
  position: absolute;
  object-fit: cover;
  object-position: center;
  width: 80px;
  height: auto;
  border-radius: 3px;
}

.interactive-enabled .step-selector-tray .selector-tray .tray-items.horizontal {
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .interactive-enabled .step-selector-tray .selector-tray {
    bottom: 70px;
    left: 318px;
    padding: 24px 16px 16px 16px;
    gap: 16px;
    border-radius: 9px;
    box-shadow: 0 10px 10px var(--color-black);
  }

  .interactive-enabled .step-selector-tray .selector-tray .tray-items {
    gap: 16px
  }

  .interactive-enabled .step-selector-tray .selector-tray .tray-items a {
    height: 119px;
    width: 80px;
  }

  .interactive-enabled .step-selector-tray .selector-tray .tray-items a img {
    width: auto;
    height: 119px;
  }

  .interactive-enabled .step-selector-tray .selector-tray .tray-items img:hover {
    outline: 6px solid var(--prompt-highlight-color);
    outline-offset: -6px;
  }
}
