.interactive-enabled .upload-btn:hover,
.interactive-enabled .upload-btn.focusinteractive-button {
  border: 3px solid #1273E6;
}

.interactive-enabled .outerCircle.focusinteractive-button {
  border: 4px solid #3892f3;
}

.interactive-enabled .upload-btn > input {
  opacity: 0;
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.interactive-enabled .interactive-holder .layer .upload-btn .svg-icon-container img {
  width: 24px;
  height: 24px;
  min-height: 24px;
}

.interactive-enabled .upload-btn {
  display: none;
  /* position: absolute;
  /* bottom: 0px; */
    gap: 8px;
    background: #111111;
    border-radius: 8px;
    text-decoration: none;
    color: var(--prompt-btn-fill-light);
    font-weight: bold;
    padding: 6px 16px;
    align-items: center;
    justify-content: center;
    border: 3px solid transparent;
    box-sizing: border-box;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.32);
    height: 54px;
}

@media screen and (min-width: 600px) {
  .interactive-enabled .interactive-holder .layer .upload-btn {
    bottom: 0px;
    transform: translateY(21px);
    display: flex;
    gap: 16px;
    background: var(--prompt-input-fill);
    border-radius: 8px;
    text-decoration: none;
    color: var(--prompt-btn-fill-light);
    font-weight: bold;
    padding: 6px 21px;
    align-items: center;
    justify-content: center;
    border: 3px solid transparent;
    box-sizing: border-box;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.32);
    height: 64px;
    position: absolute;
  }

  .interactive-enabled .interactive-holder .layer .upload-btn .svg-icon-container img {
    width: 34px;
    height: 34px;
    min-height: 34px;
  }
 
  .interactive-enabled.light .upload-btn {
   background: var(--prompt-btn-fill-light);
   color: var(--color-black);
  }
 
  .interactive-enabled .interactive-holder.dark .upload-btn {
   background: var(--prompt-input-fill);
   color: var(--color-white);
  }
 
  .interactive-enabled .interactive-holder.light .upload-btn {
   background: var(--prompt-btn-fill-light);
   color: var(--color-black);
  }
 
}
