.interactive-enabled .step-generate .generate-prompt-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  margin: auto;
  width: 100%
}

.interactive-enabled .step-generate .generate-layer {
  position: relative;
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 8px;
  font-weight: bold;
  margin: auto;
  padding: 5px;
  width: calc(100% - 10px);
  flex-direction: column-reverse;
}

.interactive-enabled .step-generate .generate-text-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  border-radius: 8px 0 0 8px;
  padding: 0 5px;
  background-color: var(--prompt-text-border);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.32);
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

[dir="rtl"] .interactive-enabled .step-generate .generate-text-container {
  width: 100%;
  border-radius: 0 8px 8px 0;
}

.interactive-enabled .step-generate .generate-prompt-button .generate-text {
  background-color: var(--prompt-input-fill);
  color: var(--prompt-text-color);
  display: inline-block;
  height: 39px;
  width: 100%;
  line-height: 39px;
  padding: 0;
  padding-inline-start: 16px;
  padding-inline-end: 16px;
  border-radius: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.interactive-enabled.light .generate-prompt-button .generate-text {
  background-color: var(--prompt-btn-fill-light);
  color: var(--prompt-text-color-light);
}

.interactive-enabled .interactive-holder.dark .layer .generate-prompt-button .generate-text {
  background-color: var(--prompt-input-fill);
  color: var(--prompt-text-color);
}

.interactive-enabled .interactive-holder.light .layer .generate-prompt-button .generate-text {
  background-color: var(--prompt-btn-fill-light);
  color: var(--prompt-text-color-light);
}

.interactive-enabled .step-generate .generate-prompt-button .gray-button.generate-button {
  position: relative;
  align-items: center;
  justify-content: center;
  height: 48px;
  gap: 2px;
  border-radius: 0 8px 8px 0;
  padding: 0 13px;
  max-width: 50%;
}

[dir="rtl"] .interactive-enabled .step-generate .generate-prompt-button .gray-button.generate-button {
  border-radius: 8px 0 0 8px;
}

.interactive-enabled .step-generate .generate-layer .label-text {
  display: inline-flex;
  padding: 8px;
  flex-direction: row-reverse;
  justify-content: start;
  align-items: flex-start;
  gap: 8px;
  border-radius: 8px;
  background: var(--prompt-btn-fill);
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
  max-height: 32px;
  width: auto;
  box-sizing: border-box;
  height: 32px;
  align-items: center;
  font-size: 14px;
}

.interactive-enabled.light .generate-layer .label-text {
  background-color: var(--prompt-btn-fill-light);
  color: var(--prompt-text-color-light);
}

.interactive-enabled .interactive-holder.light .layer .generate-layer .label-text {
  background-color: var(--prompt-btn-fill-light);
  color: var(--prompt-text-color-light);
}

.interactive-enabled .step-generate .layer .generate-layer .label-text picture,
.interactive-enabled .step-generate .layer .generate-layer .label-text img {
    width: 16px;
    height: auto;
    max-height: 16px;
    max-width: 16px;
    border-radius: 0;
    min-height: 16px;
  }

@media screen and (min-width: 600px) {
   .interactive-enabled .step-generate .generate-layer {
    position: absolute;
    left: auto;
    bottom: 64px;
    width: auto;
    max-width: unset;
    padding: 0;
    gap: 16px;
  }

  .interactive-enabled.generate-side .step-generate .generate-layer,
  .interactive-enabled .step-generate .generate-side .generate-layer {
    left: auto;
    right: -18.5%;
    bottom: calc(50% - 80px);
  }

  [dir="rtl"] .interactive-enabled.generate-side .step-generate .generate-layer,
  [dir="rtl"] .interactive-enabled .step-generate .generate-side .generate-layer {
    right: auto;
    left: -18.5%;
  }

  .interactive-enabled .step-generate .generate-text-container {
    width: 215px;
    min-width: 215px;
    max-width: 215px;
    height: 64px;
  }

  [dir="rtl"] .interactive-enabled .step-generate .generate-text-container {
    border-radius: 0 8px 8px 0;
  }

  .interactive-enabled .step-generate .generate-prompt-button .generate-text {
    height: 52px;
    line-height: 52px;
    padding: 0 16px;
    text-align: start;
    font-size: 21px;
  }

  .interactive-enabled .step-generate .generate-prompt-button .gray-button.generate-button {
    height: 64px;
    gap: 16px;
    padding: 0 21px;
    width: auto;
    min-width: auto;
    max-width: unset;
  }

  .interactive-enabled .step-generate .generate-layer .label-text {
    max-height: 56px;
    font-size: 22px;
    max-width: unset;
    height: 56px;
    padding: 16px;
    border-radius: 11px;
  }

  .interactive-enabled .step-generate .layer .generate-layer .label-text picture,
  .interactive-enabled .step-generate .layer .generate-layer .label-text img {
    width: 24px;
    height: auto;
    max-width: 24px;
    border-radius: 0;
    max-height: 24px;
    min-height: 24px;
  }
}
  @media screen and (min-width: 1200px) {
    .interactive-enabled.row-reversed .step-generate .generate-text-container {
      width: 218px;
      max-width: 218px;
    }

    .interactive-enabled.row-reversed.generate-side .step-generate .generate-layer,
    .interactive-enabled.row-reversed .step-generate .generate-side .generate-layer {
      left: -21.5%;
      right: auto;
    }

    [dir="rtl"] .interactive-enabled.generate-side .step-generate .generate-layer,
    [dir="rtl"] .interactive-enabled .step-generate .generate-side .generate-layer {
      left: -18.5%;
      right: auto;
    }

    [dir="rtl"] .interactive-enabled.row-reversed.generate-side .step-generate .generate-layer,
    [dir="rtl"] .interactive-enabled.row-reversed .step-generate .generate-side .generate-layer {
      left: auto;
      right: -21.5%;
    }
    
    [dir="rtl"] .interactive-enabled .step-generate .generate-text-container,
    .interactive-enabled .step-generate .generate-prompt-button .gray-button.generate-button {
      border-radius: 0 8px 8px 0;
    }

    .interactive-enabled .step-generate .generate-text-container,
    [dir="rtl"] .interactive-enabled .step-generate .generate-prompt-button .gray-button.generate-button {
      border-radius: 8px 0 0 8px;
    }
}