.interactive-enabled .step-generate .layer {
  display: none;
}

.interactive-enabled .step-generate .layer.show-layer {
  position: relative;
  background: #272928;
  display: flex;
  align-items: center;
  height: 60px;
  border-radius: 0px 0px 8px 8px;
  width: 300px;
}

.genfill-prompt {
  position: relative;
  top: 0;
  left:0;
  width: 290px;
  height: 48px;
  margin: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  background-color: #545454;
  border-radius: 8px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.32);
}

.genfill-search {
  box-sizing: border-box;
  background-color: #262626;
  color:#D1D1D1;
  padding: 0 16px;
  border-radius: 8px;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  width: 159px;
  height: 39px;
  margin: 3px;
  font-size: 18px; /*body -m */
  line-height: 26px;
}

.generate img {
  width: 24px !important; 
  height: 24px !important;
  min-height: 20px !important;
}

.generate {
  font-size: 18px; 
  line-height: 22px;
  font-weight: bold;
  gap: 8px;
  padding: 0 16px;
}

.generate {
  position: relative;
  flex: 1;
  gap: 16px;
  padding: 0 24px;
  width: 202px;
  border-radius: 0px 8px 8px 0px;
  align-items: center;
}

.generate:hover { 
  outline: 3px solid #1273E6;
  color: var(--color-white);
  text-decoration: none;
} 

@media screen and (min-width: 1200px) {

  .interactive-enabled .step-generate .layer.show-layer {
    position: absolute;
  }

  .genfill-prompt {
    position: absolute;
    top: 461px;
    left:83px;
    width: 417px;
    height: 64px;
  }
  
  .generate-right .genfill-prompt {
    left: 285px;
    top: 300px;
  }
  
  .genfill-search {
    box-sizing: border-box;
    width:215px;
    height: 52px;
    margin: 6px;
    background-color: #262626;
    color:#D1D1D1;
    font-size: 21px;
    line-height: 39px;
    padding: 0 16px;
    border-radius: 8px;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
  }
  
  .generate img {
    width: 34px !important; 
    height: 34px !important;
    min-height: 20px !important;
  }
}
