/* .share-link {
  padding: 40px 4% 0;
}

.share-link .foreground {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.share-link .foreground .text {
  padding-right: 3%;
  text-align: left;
  color: #6e6e6e;
  font-style: italic;
  font-size: 14px;
  line-height: 20px;
  width: 218px;
  box-sizing: border-box;
}

.share-link .foreground a {
  display: none;
}

.share-link .web-sharing {
    display: block;
    background-color: #1473E6;
    border-radius: 24px;
    box-sizing: border-box;
    cursor: pointer;
    height: 48px;
    padding: 12px 0 0 13px;
    width: 48px;
}

@media screen and (min-width: 600px) {
  .share-link {
    display: none;
  }
} */


/* .mybutton {
  border-radius: 20px;
  font-size: 17px;
  line-height: 20px;
  min-height: 21px;
  padding: 7px 18px 8px;
  background-color: transparent;
  border: 2px solid var(--text-color);
  color: var(--text-color);
  display: inline-block;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  font-family: var(--body-font-family);
} */
