/* Responsive styling with mobile-first approach */
:root {
  --showcase-padding-top: 40px;
  --content-width: 100%;
  --content-padding: 0 calc((100% - 83.4%) / 2);
  --content-title-size: 36px;
  --content-icon-size: 36px;
  --content-subtitle-size: 18px;
  --content-title-line-height: 96%;
  --content-subtitle-line-height: 125%;
  --cta-line-height: normal;
  --content-title-letter-spacing: -1.08px;
  --cta-letter-spacing: -0.36px;
  --content-subtitle-weight: 700;
  --content-subtitle-color: #fff;
  --gallery-column-dim: 163px;
  --heading-margin: 24px 0 16px 0;
  --cta-display: flex;

  --gallery-cell-icon-border: 12px;
  --gallery-cell-icon-dim: 11px;
  --gallery-cell-icon-padding: 4px;
  --gallery-cell-icon-bottom: 11px;
  --gallery-cell-icon-left: 10px;
}

.firefly-model-showcase {
  display: grid;
  grid-template-areas: 'stack';
  padding-top: var(--showcase-padding-top);
  position: relative;
  overflow-y: visible;
  overflow-x: clip;
  z-index: 2;
}

.firefly-model-showcase > * {
  grid-area: stack;
}

.firefly-model-showcase-content {
  box-sizing: border-box;
  padding: var(--content-padding);
  width: var(--content-width);
  z-index: 3;
}

.firefly-model-showcase-content img {
  width: var(--content-icon-size);
  height: var(--content-icon-size);
}

.firefly-model-showcase-content p {
  color: var(--content-subtitle-color);
  font-size: var(--content-subtitle-size);
  font-style: normal;
  font-weight: var(--content-subtitle-weight);
  line-height: var(--content-subtitle-line-height);
  margin: 0;
}

.firefly-model-showcase-content h1 {
  font-family: 'Adobe Clean Display', sans-serif;
  font-size: var(--content-title-size);
  font-style: normal;
  font-weight: 900;
  line-height: var(--content-title-line-height);
  letter-spacing: var(--content-title-letter-spacing);
  margin: var(--heading-margin);
}

.firefly-model-showcase-content .action-area {
  margin: 30px 0;

}

.firefly-model-showcase-content .action-area a { 
  font-size: 18px;
  color: #ffffff;
  font-weight: 700;
  line-height: var(--cta-line-height);
  display: var(--cta-display);
  justify-content: center;
  letter-spacing: var(--cta-letter-spacing);
}

.firefly-model-showcase-gallery {
  z-index: 2;
  display: flex;
  width: 125%;
  margin-left: -12.5%;
  overflow: visible;
  gap: 24px;
  align-self: start;
  transform: translateY(200px); /* Start 200px below and later animate */
}

.gallery-column {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 1;
}

.gallery-column:nth-child(1) {
  margin-top: 794px;
}

.gallery-column:nth-child(2) {
  margin-top: 623px;
}

.gallery-column:nth-child(3) {
  margin-top: 397px;
}

.gallery-column:nth-child(4) {
  margin-top: 0;
}

.gallery-cell {
  position: relative;
  width: 100%;
  border-radius: 40px;
  aspect-ratio: 1/1; /* Default square shape */
  background-color: #595959;
}

.gallery-cell-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  border-radius: 40px;
  top: 0;
  left: 0;
}

.gallery-cell-icon {
  position: absolute;
  bottom: var(--gallery-cell-icon-bottom);
  left: var(--gallery-cell-icon-left);
  width: var(--gallery-cell-icon-dim);
  height: var(--gallery-cell-icon-dim);
  padding: var(--gallery-cell-icon-padding);
  background: #fff;
  border-radius: var(--gallery-cell-icon-border);
}

.gallery-cell-icon.bg-adobe {
  background: #eb1000;
}

/* Tablet */
@media screen and (min-width: 600px) {
  :root {
    --content-icon-size: 54px;
    --content-width: 75%;
    --content-title-size: 72px;
    --content-title-line-height: 100%;
    --content-subtitle-size: 16px;
    --heading-margin: 20px 0;
    --content-title-letter-spacing: -1.92px;
    --content-subtitle-weight: 400;
    --content-subtitle-line-height: 150%;
    --content-subtitle-color: #fcfcfc;
  }
}

/* Desktop */
@media screen and (min-width: 900px) {
  :root {
    --content-width: 75%;
    --content-title-size: 96px;
    --content-subtitle-size: 24px;
    --showcase-padding-top: 130px;
    --cta-display: unset;
    --cta-line-height: 24px;
    --cta-letter-spacing: unset;
    --gallery-cell-icon-border: 8px;
    --gallery-cell-icon-dim: 26px;
    --gallery-cell-icon-padding: 13px;
    --gallery-cell-icon-bottom: 36px;
    --gallery-cell-icon-left: 34px;
  }
}

@media screen and (min-width: 1480px) {
  :root {
    --content-width: 50%;
    --content-padding: 0 0 0 calc((100% - 1440px) / 2);
  }
}

/* parallax effects */
.firefly-model-showcase .firefly-model-showcase-content {
  will-change: opacity, transform;
  opacity: calc(1 - (clamp(0, var(--exit-progress), 40)) / 40);
  transform: translateY(
    calc(400px * (clamp(0, var(--exit-progress), 40)) / 40)
  );
}

.firefly-model-showcase-gallery .gallery-column {
  will-change: transform;
}

.firefly-model-showcase-gallery .gallery-column:nth-child(1) {
  transform: translateY(
    calc(300px * (clamp(0, var(--exit-progress), 100)) / 100)
  );

  /* transform: translateY(calc(794px - 200px * (clamp(60, var(--enter-progress), 100) - 60) / 40 + 100px * (clamp(0, var(--exit-progress), 100)) / 100)); */
}

.firefly-model-showcase-gallery .gallery-column:nth-child(2) {
  transform: translateY(
    calc(-300px * (clamp(0, var(--exit-progress), 100)) / 100)
  );

  /* transform: translateY(calc(623px - 400px * (clamp(60, var(--enter-progress), 100) - 60) / 40 - 200px * (clamp(0, var(--exit-progress), 100)) / 100)); */
}

.firefly-model-showcase-gallery .gallery-column:nth-child(3) {
  transform: translateY(
    calc(200px * (clamp(0, var(--exit-progress), 100)) / 100)
  );
}

.firefly-model-showcase-gallery .gallery-column:nth-child(4) {
  transform: translateY(
    calc(800px * (clamp(0, var(--exit-progress), 100)) / 100)
  );
}
