.privacy-button {
  width: fit-content;
}

.privacy-button .con-button:hover {
  cursor: pointer;
}

.privacy-button-message {
  color: red;
  font-size: larger;
}

.privacy-tracking-image {
  display: none;
}

.section.privacybutton {
  margin-left: var(--grid-margins-width);
  margin-right: var(--grid-margins-width);
  padding: var(--spacing-m);
  display: grid;
  grid-template-columns: auto auto;
  gap: var(--spacing-m);
  justify-content: center;
  align-items: center;
  background-color: #F5F5F5 ;  
}

@media (max-width: 600px) { 
  .section.privacybutton {
    grid-template-columns: 1fr; 
  }
}
