.interactive-marquee > div:not(.background):not(.background1) {
    display: none;
}

/* ft-changebackgroundmarquee {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
} */

.interactive-marquee{
  /* mix-blend-mode: normal;
  opacity: 1;
  transform: translate(0px, 0px);
  width: 599px;
  height: 591px; */
  background-color: black;
  display: flex;
  flex-direction: column-reverse;
  position: relative;
}

/* .interactive-marquee .background img{
  object-fit: cover;
  height: 100%;
  width: 100%;
} */

.interactive-marquee .mobile-only.tablet-only {
    display: block;
  }
.interactive-marquee .background1 {
  background-color: black;
  width: 274px;
  height: 123px;
  display: flex;
}
  
.interactive-marquee .tablet-only,
.interactive-marquee .desktop-only {
    display: none;
}

@media screen and (min-width: 600px) {
  .interactive-marquee .background .mobile-only,
  .interactive-marquee .background1,
  .interactive-marquee .background .desktop-only {
    display: none;
  }

  .interactive-marquee .background .tablet-only {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .interactive-marquee {
    width: 1920px;
    height: 860px;
    transform: translate(0px, 0px) scale(1);
    position: relative;
  }
  .interactive-marquee .background .mobile-only.tablet-only,
  .interactive-marquee .background .mobile-only,
  .interactive-marquee .background1,
  .interactive-marquee .background .tablet-only {
    display: none;
  }

  .interactive-marquee .background .desktop-only {
    display: block;
  }
}