.callout {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);
  padding: var(--spacing-m);
}

.callout.con-block {
  padding-inline: var(--spacing-xs);
}

.callout-item {
  padding: var(--spacing-s);
  text-align: center;
  border: 1px solid #e1e1e1;
  border-radius: 16px;
}

.callout-item p:first-of-type {
  margin-block-start: 0;
}

.callout-item p:last-of-type {
  margin-block-end: 0;
}

@media screen and (min-width: 1200px) {
  .callout {
    flex-direction: row;
    justify-content: center;
  }
}
