@media screen and (min-width: 1200px) {
  .catalog.app {
    display: flex;
    gap: 36px;
    justify-content: center;
    min-height: 400px;
  }
}

.catalog > merch-sidenav {
  order: 0;
}

.catalog > merch-cards {
  order: 1;
  align-self: baseline;
  padding: 0;
}
