.catalog.app {
  display: flex;
  min-height: 400px;
  justify-content: center;
}


@media screen and (min-width: 1200px) {
  .catalog.app {
    display: grid;
    gap: 36px;
    grid-template-columns: 240px auto;
    min-height: 400px;
  }

  merch-sidenav {
    min-width: 240px;
  }
}

.catalog > merch-sidenav {
  grid-column: 1 / span 1;
  order: 0;
}

.catalog > merch-cards {
  align-self: baseline;
  grid-column: 2 / span 1;
  order: 1;
  padding: 0;
}
