.step-crop {
  position: relative;
}

.step-start-over .gray-button.start-over {
  position: relative;
  padding-right: 24px;
}

@media screen and (min-width: 1200px) {
  .step-start-over .gray-button.start-over {
    position: absolute;
    left: 194px;
    bottom: 32px;
  }
}
