.interactive-enabled .step-start-over .layer .gray-button.start-over-button {
  opacity: 0;
  padding: 0 21px 0 13px;
  height: 48px;
  transition: opacity 300ms;
}

@media screen and (min-width: 600px) {
  .interactive-enabled .step-start-over .layer .gray-button.start-over-button {
    padding: 0 21px;
    height: 64px;
    bottom: 32px;
    left: 194px;
    gap: 16px;
  }
}
