/* 
 * Put project specific base styles here.
 *
 * Note: The proect does not load this file.
 *       You will need to load these using scripts.js.
 * 
 *
 */

 .reading-width {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

 .reading-width-footer-tag {
  max-width: 600px;
  margin: -20px auto;
  padding: 0 20px 20px;
}

 .reading-width-footer-tag > .content {
  max-width: var(--grid-container-width);
  margin: 0 auto;
}

.interactive-enabled .foreground .asset > picture img {
  height: 300px;
  width: 300px;
}

@media screen and (min-width: 768px) {
  .interactive-enabled .foreground .asset > picture img {
    height: 570px;
    width: 570px;
  }
}


