/* 
 * Put project specific base styles here.
 *
 * Note: The proect does not load this file.
 *       You will need to load these using scripts.js.
 * 
 *
 */

 .reading-width {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

 .reading-width-footer-tag {
  max-width: 600px;
  margin: -20px auto;
  padding: 0 20px 20px;
}

 .reading-width-footer-tag > .content {
  max-width: var(--grid-container-width);
  margin: 0 auto;
}
  
 .section.grid-width-6:has(icon-block) {
    padding-left: var(--grid-margins-width-6);
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
  .section.grid-width-6:has(icon-block) {
    padding-left: var(--grid-margins-width-6);
    padding-right: var(--grid-margins-width-6);
  }
}

