/* 
 * Put project specific base styles here.
 *
 * Note: The proect does not load this file.
 *       You will need to load these using scripts.js.
 * 
 *
 */

 .reading-width {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

 .reading-width-footer-tag {
  max-width: 600px;
  margin: -20px auto;
}

 .reading-width-footer-tag > .content {
  max-width: var(--grid-container-width);
  margin: 0 auto;
}
