.reading-width {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

 .reading-width-footer-tag {
  max-width: 600px;
  margin: -20px auto;
  padding: 0 20px 20px;
}

 .reading-width-footer-tag > .content {
  max-width: var(--grid-container-width);
  margin: 0 auto;
}

.interactive-enabled .foreground .image > h1,
.interactive-enabled .foreground .image > h2,
.interactive-enabled .foreground .image > h3,
.interactive-enabled .foreground .image > h4,
.interactive-enabled .foreground .image > h5,
.interactive-enabled .foreground .image > h6 {
  display: none;
  font-size: 28px;
  line-height: 28px;
  margin: 0;
  padding-bottom: 24px;
}

.interactive-enabled .foreground .image > p {
  width: 300px;
  margin: auto;
  height: 0;
}

.interactive-enabled .foreground .image > h2 + p,
.interactive-enabled .foreground .image > p:nth-child(1) {
  display: flex;
  height: auto;
  flex-direction: row;
  font-weight: bold;
  font-size: 28px;
  line-height: 28px;
  margin-bottom: 16px;
}

.interactive-enabled .foreground .image > p img[src*=".svg"] {
  position: relative;
  width: 49px;
  height: 69px;
  min-height: 69px;
  left: -32px;
  top: -28px;
  z-index: 3;
} 

@media screen and (max-width: 600px) {
  .interactive-enabled.title-swap .foreground .image > h1,
  .interactive-enabled.title-swap .foreground .image > h2,
  .interactive-enabled.title-swap .foreground .image > h3,
  .interactive-enabled.title-swap .foreground .image > h4,
  .interactive-enabled.title-swap .foreground .image > h5,
  .interactive-enabled.title-swap .foreground .image > h6 {
    display: block;
  }
  
  .interactive-enabled.title-swap .foreground .text > h1,
  .interactive-enabled.title-swap .foreground .text > h2,
  .interactive-enabled.title-swap .foreground .text > h3,
  .interactive-enabled.title-swap .foreground .text > h4,
  .interactive-enabled.title-swap .foreground .text > h5,
  .interactive-enabled.title-swap .foreground .text > h6 {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .interactive-enabled .foreground .image {
    margin-inline-start: 0;
    margin: auto;
  }

  .interactive-enabled .foreground .image > p {
    width: 570px;
    margin: auto;
  }

  .interactive-enabled .foreground .image > p img[src*=".svg"] {
    position: relative;
    width: 49px;
    height: 69px;
    min-height: 69px;
    left: -32px;
    top: -28px;
    z-index: 3;
  } 
}

@media screen and (min-width: 1200px) {
  .marquee.interactive-enabled .foreground.container,
  .aside.interactive-enabled .foreground.container {
    padding-top: 0;
    padding-bottom: 0;
  }

  .interactive-enabled .foreground .image {
    position: relative;
    height: calc(100% - 42px);
    width: 570px;
    min-width: 570px;
    border-radius: 16px;
    margin-inline-start: 60px;
    background: none;
    margin-bottom: 42px;
    top: 88px;
  }

  .interactive-enabled .foreground .image > h2 + p,
  .interactive-enabled .foreground .image > p:nth-child(1) {
    position: absolute;
    top: -44px;
    left: -30px;
  }

  .interactive-enabled .foreground .image > p img[src*=".svg"] {
    left: -62px;
  }
}
