.reading-width {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

 .reading-width-footer-tag {
  max-width: 600px;
  margin: -20px auto;
  padding: 0 20px 20px;
}

 .reading-width-footer-tag > .content {
  max-width: var(--grid-container-width);
  margin: 0 auto;
}

.interactive-enabled .foreground .image {
  border-radius: 8px;
  margin: 0;
  padding: 0;
}

.interactive-enabled .foreground .image > picture img {
  height: 300px;
  width: 300px;
  border-radius: 8px;
}

@media screen and (min-width: 768px) {
  .interactive-enabled .foreground .image {
    border-radius: 16px;
    margin-inline-start: 60px;
  }

  .interactive-enabled .foreground .image > picture img {
    height: 570px;
    width: 570px;
    border-radius: 16px;
  }
}


