<div>
  <div class="cc-forms">
    <div>
      <div><span class="icon icon-cc-form-checkbox-accept-agreement"></span></div>
    </div>
    <div>
      <div><span class="icon icon-label"></span></div>
      <div>I accept the terms of the license agreement.</div>
    </div>
    <div>
      <div><span class="icon icon-checked"></span></div>
      <div></div>
    </div>
    <div>
      <div><span class="icon icon-required"></span></div>
      <div></div>
    </div>
    <div>
      <div><span class="icon icon-error-required"></span></div>
      <div>Required error message</div>
    </div>
    <div>
      <div><span class="icon icon-cc-form-checkbox-consent-explicit-email"></span></div>
    </div>
    <div>
      <div><span class="icon icon-label"></span></div>
      <div>Please contact me via email.</div>
    </div>
    <div>listskuproductandversions
      <div><span class="icon icon-required"></span></div>
      <div></div>
    </div>
    <div>
      <div><span class="icon icon-error-required"></span></div>
      <div>Required error message</div>
    </div>
    <div>
      <div><span class="icon icon-cc-form-checkbox-consent-explicit-phone"></span></div>
    </div>
    <div>
      <div><span class="icon icon-label"></span></div>
      <div>Please contact me via telephone</div>
    </div>
    <div>
      <div><span class="icon icon-required"></span></div>
      <div></div>
    </div>
    <div>
      <div><span class="icon icon-error-required"></span></div>
      <div>Required error message</div>
    </div>
    <div>
      <div><span class="icon icon-cc-form-checkbox-consent-soft"></span></div>
    </div>
    <div>
      <div><span class="icon icon-label"></span></div>
      <div>Please don't contact me via email.</div>
    </div>
    <div>
      <div><span class="icon icon-required"></span></div>
      <div></div>
    </div>
    <div>
      <div><span class="icon icon-error-required"></span></div>
      <div>Required error message</div>
    </div>
    <div>
      <div><span class="icon icon-cc-form-checkbox-unsubscribe-all"></span></div>
    </div>
    <div>
      <div><span class="icon icon-label"></span></div>
      <div>Unsubscribe from all subscription messages and all Adobe email marketing communications</div>
    </div>
    <div>
      <div><span class="icon icon-required"></span></div>
      <div></div>
    </div>
    <div>
      <div><span class="icon icon-error-required"></span></div>
      <div>Required error message</div>
    </div>
    <div>
      <div><span class="icon icon-cc-form-checkbox-unsubscribe-instructional"></span></div>
    </div>
    <div>
      <div><span class="icon icon-label"></span></div>
      <div>Unsubscribe from Adobe instructional email communications.</div>
    </div>
    <div>
      <div><span class="icon icon-required"></span></div>
      <div></div>
    </div>
    <div>
      <div><span class="icon icon-error-required"></span></div>
      <div>Required error message</div>
    </div>
    <div>
      <div><span class="icon icon-cc-form-checkbox-unsubscribe-sname"></span></div>
    </div>
    <div>
      <div><span class="icon icon-label"></span></div>
      <div>Unsubscribe from {sname} communications service</div>
    </div>
    <div>
      <div><span class="icon icon-optional"></span></div>
      <div></div>
    </div>
    <div>
      <div><span class="icon icon-error-required"></span></div>
      <div>Required error message</div>
    </div>
  </div>
</div>
<div></div>
