

<div>
  <div class="cc-forms">
    <div>
      <div><span class="icon icon-cc-form-dropdown-country"></span></div>
    </div>
    <div>
      <div><span class="icon icon-label"></span></div>
      <div>Select a Country</div>
    </div>
    <div>
      <div><span class="icon icon-disclaimer"></span></div>
      <div>Content disclaimer</div>
    </div>
    <div>
      <div><span class="icon icon-sort-value"></span></div>
      <div></div>
    </div>
    <div>
      <div><span class="icon icon-placeholder"></span></div>
      <div>Select a Country</div>
    </div>
    <div>
      <div><span class="icon icon-error-required"></span></div>
      <div>This field is required</div>
    </div>
    <div>
      <div><span class="icon icon-cc-form-dropdown-state"></span></div>
    </div>
    <div>
      <div><span class="icon icon-label"></span></div>
      <div>Select a State</div>
    </div>
    <div>
      <div><span class="icon icon-placeholder"></span></div>
      <div>Select a State</div>
    </div>
    <div>
      <div><span class="icon icon-dependent-country"></span></div>
      <div></div>
    </div>
    <div>
      <div><span class="icon icon-cc-form-dropdown-jobtitle"></span></div>
    </div>
    <div>
      <div><span class="icon icon-label"></span></div>
      <div>Select a job title</div>
    </div>
    <div>
      <div><span class="icon icon-sort-title"></span></div>
      <div></div>
    </div>
    <div>
      <div><span class="icon icon-placeholder"></span></div>
      <div>Select a job title</div>
    </div>
    <div>
      <div><span class="icon icon-cc-form-dropdown-jobfunction"></span></div>
    </div>
    <div>
      <div><span class="icon icon-label"></span></div>
      <div>Select a job function</div>
    </div>
    <div>
      <div><span class="icon icon-placeholder"></span></div>
      <div>Select a job function</div>
    </div>
    <div>
      <div><span class="icon icon-cc-form-dropdown-orgsize"></span></div>
    </div>
    <div>
      <div><span class="icon icon-label"></span></div>
      <div>Select org size</div>
    </div>
    <div>
      <div><span class="icon icon-placeholder"></span></div>
      <div>Select org size</div>
    </div>
    <div>
      <div><span class="icon icon-cc-form-dropdown-purchase-intent"></span></div>
    </div>
    <div>
      <div><span class="icon icon-label"></span></div>
      <div>Select a purchase intent</div>
    </div>
    <div>
      <div><span class="icon icon-placeholder"></span></div>
      <div>Select a purchase intent</div>
    </div>
    <div>
      <div><span class="icon icon-cc-form-dropdown-freemium-purchase-intent"></span></div>
    </div>
    <div>
      <div><span class="icon icon-label"></span></div>
      <div>Select a trial intent</div>
    </div>
    <div>
      <div><span class="icon icon-placeholder"></span></div>
      <div>Select a trial intent</div>
    </div>
    <div>
      <div><span class="icon icon-cc-form-dropdown-connect-purchase-intent"></span></div>
    </div>
    <div>
      <div><span class="icon icon-label"></span></div>
      <div>Select a connect purchase intent</div>
    </div>
    <div>
      <div><span class="icon icon-placeholder"></span></div>
      <div>Select a connect purchase intent</div>
    </div>
    <div>
      <div><span class="icon icon-cc-form-dropdown-industry"></span></div>
    </div>
    <div>
      <div><span class="icon icon-label"></span></div>
      <div>Select an industry</div>
    </div>
    <div>
      <div><span class="icon icon-sort-id"></span></div>
      <div></div>
    </div>
    <div>
      <div><span class="icon icon-placeholder"></span></div>
      <div>Select an industry</div>
    </div>
    <div>
      <div><span class="icon icon-cc-form-dropdown-estunitship"></span></div>
    </div>
    <div>
      <div><span class="icon icon-label"></span></div>
      <div>Select a job function</div>
    </div>
    <div>
      <div><span class="icon icon-placeholder"></span></div>
      <div>Select a job function</div>
    </div>
    <div>
      <div><span class="icon icon-cc-form-dropdown-existing-user"></span></div>
    </div>
    <div>
      <div><span class="icon icon-label"></span></div>
      <div>Select a job function</div>
    </div>
    <div>
      <div><span class="icon icon-placeholder"></span></div>
      <div>Select a job function</div>
    </div>
    <div>
      <div><span class="icon icon-cc-form-dropdown-product-sku"></span></div>
    </div>
    <div>
      <div><span class="icon icon-label"></span></div>
      <div>Select a product sku</div>
    </div>
    <div>
      <div><span class="icon icon-placeholder"></span></div>
      <div>Select a product sku</div>
    </div>
    <div>
      <div><span class="icon icon-product-name-captivate"></span></div>
      <div></div>
    </div>
    <div>
      <div><span class="icon icon-product-version-2019"></span></div>
      <div></div>
    </div>
    <div>
      <div><span class="icon icon-cc-form-dropdown-timeframe"></span></div>
    </div>
    <div>
      <div><span class="icon icon-label"></span></div>
      <div>Select a time frame</div>
    </div>
    <div>
      <div><span class="icon icon-placeholder"></span></div>
      <div>Select a time frame</div>
    </div>
    <div>
      <div><span class="icon icon-cc-form-dropdown-timezone"></span></div>
    </div>
    <div>
      <div><span class="icon icon-label"></span></div>
      <div>Select a time zone</div>
    </div>
    <div>
      <div><span class="icon icon-placeholder"></span></div>
      <div>Select a time zone</div>
    </div>
    <div>
      <div><span class="icon icon-cc-form-dropdown-user-type"></span></div>
    </div>
    <div>
      <div><span class="icon icon-label"></span></div>
      <div>Select a user type</div>
    </div>
    <div>
      <div><span class="icon icon-placeholder"></span></div>
      <div>Select a user type</div>
    </div>
    <div>
      <div><span class="icon icon-read-only"></span></div>
      <div></div>
    </div>
    <div>
      <div><span class="icon icon-optional"></span></div>
      <div></div>
    </div>
  </div>
</div>
<div></div>
