/* Pre-pro block styling - based on template-x */
.pre-pro {
    position: relative;
}

.pre-pro-wrapper.fullwidth {
    max-width: none;
    padding: 0;
}

.pre-pro-wrapper.sixcols {
    margin-left: auto;
    margin-right: auto;
}

.pre-pro > .default-content-wrapper {
    padding: 0 15px;
}

.pre-pro.top-padding {
    padding-top: 40px;
}

.pre-pro.bottom-padding {
    padding-bottom: 40px;
}

.pre-pro-inner-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 20px auto 0 auto;
    font-size: var(--body-font-size-m);
    font-weight: var(--body-font-weight);
    text-align: left;
}

.pre-pro.sixcols .pre-pro-inner-wrapper,
.pre-pro.fullwidth .pre-pro-inner-wrapper {
    flex-direction: row;
    justify-content: center;
}

.pre-pro-inner-wrapper.sequential-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}


.pre-pro .template {
    display: flex;
    flex-direction: column;
    width: 240px;
    margin: 0 0 32px 0;
    justify-content: flex-end;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    text-decoration: unset;
    position: relative;
    border-radius: 14px;
}

.pre-pro.sixcols:not(.horizontal) .template,
.pre-pro.fullwidth .template {
    position: relative;
    display: flex;
    width: 165px;
    margin: 0;
}

.pre-pro .template:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--color-white), 0 0 0 4px var(--color-info-accent);
}

.pre-pro .template img,
.pre-pro .template video {
    border-radius: 12px;
}

.pre-pro .template img:not(.icon),
.pre-pro .template video {
    width: 100%;
    height: 100%;
    pointer-events: none;
    object-fit: cover;
    display: block;
}

.pre-pro.sixcols:not(.horizontal) .template:not(.placeholder) img,
.pre-pro.sixcols:not(.horizontal) .template:not(.placeholder) video,
.pre-pro.fullwidth .template:not(.placeholder) img,
.pre-pro.fullwidth .template:not(.placeholder) video {
    transition: transform .3s ease-in-out;
    will-change: transform;
}

.pre-pro .template .still-wrapper {
    position: relative;
    width: 100%;
}

.pre-pro .template .still-wrapper .image-wrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 9 / 16;
    overflow: hidden;
    border-radius: 12px;
}

.pre-pro .template .still-wrapper .image-wrapper video.hidden {
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.pre-pro .template .still-wrapper .image-wrapper img.hidden {
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.pre-pro .template .button-container .media-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}

.pre-pro .template .button-container .media-wrapper .image-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    aspect-ratio: 9 / 16;
    overflow: hidden;
    border-radius: 12px;
}

.pre-pro .template .button-container .media-wrapper img,
.pre-pro .template .button-container .media-wrapper video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    border-radius: 12px;
}

.pre-pro .template .button-container .media-wrapper img.hidden,
.pre-pro .template .button-container .media-wrapper video.hidden {
    opacity: 0;
    z-index: -1;
}

.pre-pro .template .button-container .media-wrapper video {
    clip-path: inset(0 0 3px 0);
}

.pre-pro .template:not(.placeholder) .button-container,
.pre-pro.sixcols:not(.horizontal) .template:not(.placeholder) .button-container,
.pre-pro.fullwidth .template:not(.placeholder) .button-container {
    position: absolute;
    width: 120%;
    max-width: 90vw;
    border-radius: 20px;
    min-height: 120%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    text-align: center;
    transition: opacity .3s ease-in-out;
    will-change: opacity;
    pointer-events: none;
    z-index: 1;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 8px;
    box-shadow: 0 0 6px #00000029;
}

.pre-pro.sixcols:not(.horizontal) .template:hover:not(.placeholder) .button-container,
.pre-pro.sixcols:not(.horizontal) .template:hover:not(.placeholder) .button-container > a.button,
.pre-pro.fullwidth .template:hover:not(.placeholder) .button-container,
.pre-pro.fullwidth .template:hover:not(.placeholder) .button-container > a.button {
    opacity: 1;
    pointer-events: initial;
    z-index: 2;
}

.pre-pro .template .button-container a.button {
    max-width: 100%;
    margin: 6px 6px 0;
    box-sizing: border-box;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
}

.pre-pro .template .button-container a.button.accent {
    font-size: 0.75rem;
    padding: 4px 1em;
    border-radius: 15px;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    line-height: var(--body-line-height);
    cursor: pointer;
    color: var(--color-white);
    background-color: var(--link-color);
    border: none;
}

.pre-pro.sixcols:not(.horizontal) .template:not(.placeholder) .button-container a.button,
.pre-pro.fullwidth .template:not(.placeholder) .button-container a.button {
    opacity: 0;
    transition: opacity .4s ease-in-out .2s;
    will-change: opacity;
}

.pre-pro .template .button-container a.cta-link {
    display: block;
    width: 100%;
    height: calc(100% - 34px);
    white-space: nowrap;
    font-weight: var(--body-font-weight);
    text-decoration: none;
}


.pre-pro.pre-pro-complete .pre-pro-inner-wrapper {
    min-height: unset;
}


/* Responsive adjustments */
@media (min-width: 600px) {
    .pre-pro-wrapper.fullwidth:not(.horizontal),
    .pre-pro-wrapper.sixcols:not(.horizontal),
    .pre-pro > .default-content-wrapper,
    .pre-pro:not(.horizontal) > .default-content-wrapper {
        max-width: none;
        padding: 0 28px;
    }

}

@media (min-width: 900px) {
    .pre-pro-container > div {
        max-width: 900px;
    }

    .pre-pro-wrapper.sixcols:not(.horizontal) {
        max-width: 748px;
    }

    .pre-pro-wrapper.fullwidth:not(.horizontal) {
        max-width: 1122px;
    }

}

@media (min-width: 1200px) {
    .pre-pro-wrapper.sixcols:not(.horizontal) {
        max-width: 1122px;
    }

    .pre-pro-wrapper.fullwidth {
        max-width: none;
    }


    .pre-pro .template {
        width: 240px;
        margin-left: 20px;
        margin-right: 20px;
    }
}

