.genfill .desktop-media, 
.genfill .tablet-media, 
.genfill .mobile-media {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  display: none;
}

.genfill .enticement-detail,
.genfill .enticement-mode,
.genfill .timer {
  display: none;
}

.genfill .media picture {
  display: none;
}

/* Enticement */
.enticement-arrow {
  display: none;
}

.enticement-text {
  display: none;
  max-width: 30ch;
}

.enticement-text.light {
color: #FFFFFF;
}

@media screen and (max-width: 600px) {
  .genfill .mobile-media picture {
    display: none;
  }

  .genfill .media.mobile-media, 
  .genfill .mobile-media picture:first-child {
    display: block;
  }

  .genfill .enticement {
    display: none;
  }
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
  .genfill .tablet-media picture {
    display: none;
  }

  .genfill .tablet-media, 
  .genfill .tablet-media picture:first-child {
    display: block;
  }

  /* Enticement */
  .enticement-arrow {
    width: 49px !important;
    height: 73px !important;
    position: absolute;
    right: 575px;
    top: -45px;
    display: block;
  }

  .enticement-text {
    position: absolute;
    right: 345px;
    top: -60px;
    width: 240px;
    display: block;
    color: #111111;

  }

  .enticement-text.light {
    color: #FFFFFF;
  }
}

@media screen and (min-width: 1200px) {
  .genfill .desktop-media picture {
    display: none;
  }

  .genfill .desktop-media, 
  .genfill .desktop-media picture:first-child {
    display: block;
  }

   /* Enticement */
   .enticement-arrow {
    width: 49px !important;
    height: 73px !important;
    position: absolute;
    right: 575px;
    top: -45px;
    display: block;
  }

  .enticement-text {
    position: absolute;
    right: 345px;
    top: -60px;
    width: 240px;
    display: block;
    color: #000000;

  }
}
