.genfill .desktop-only, 
.genfill .tablet-only, 
.genfill .mobile-only {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  display: none;
}

.genfill .enticement-detail,
.genfill .enticement-mode,
.genfill .timer {
  display: none;
}

.genfill .media a {
  display: none;
}

.enticement-arrow {
  display: none;
}

.enticement-text {
  display: none;
  max-width: 30ch;
}

.enticement-text.light {
color: var(--color-white);
}

@media screen and (max-width: 600px) {
  .genfill .mobile-only a {
    display: none;
  }

  .genfill .media.mobile-only, 
  .genfill .media.mobile-only a:first-of-type {
    display: block;
  }

  .genfill .enticement {
    display: none;
  }
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
  .genfill .tablet-only a {
    display: none;
  }

  .genfill .tablet-only, 
  .genfill .tablet-only a:first-of-type {
    display: block;
  }

  .enticement-arrow {
    width: 49px;
    height: 73px;
    position: absolute;
    right: 575px;
    top: -45px;
    display: block;
  }

  .enticement-text {
    position: absolute;
    right: 345px;
    top: -60px;
    width: 240px;
    display: block;
    color: var(--color-black);
  }

  .enticement-text.light {
    color: var(--color-white);
  }
}

@media screen and (min-width: 1200px) {
  .genfill .desktop-only a {
    display: none;
  }

  .genfill .desktop-only, 
  .genfill .desktop-only a:first-of-type {
    display: block;
  }

   .enticement-arrow {
    width: 49px;
    height: 73px;
    position: absolute;
    right: 575px;
    top: -45px;
    display: block;
  }

  .enticement-text {
    position: absolute;
    right: 345px;
    top: -60px;
    width: 240px;
    display: block;
    color: var(--color-black);
  }
}
