.photo-gallery {
  --gap-size: 0.5rem;
}

.photo-gallery .photo-grid-component {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.photo-gallery .photo-grid-component .grid-view {
  display: none;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.photo-gallery .photo-grid-component .grid-row {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  box-sizing: border-box;
  transition: margin 0.3s ease;
}

.photo-gallery .photo-grid-component .grid-view .grid-item {
  flex: 0 0 auto;
  border-radius: 8px;
  overflow: hidden;
  background: #222;
  position: relative;
  width: 9.75rem;
  height: 10.19rem;
}

.photo-gallery .photo-grid-component .grid-item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} 

.photo-gallery .photo-grid-component .grid-view.view-mobile{
  display: flex;
}

@media screen and (min-width: 600px) {
  .photo-gallery .photo-grid-component .grid-view.view-mobile {
    display: none;
  }

  .photo-gallery .photo-grid-component .grid-view.view-tablet {
    display: flex;
  }

  .photo-gallery .photo-grid-component .grid-view.view-tablet .grid-item {
    width: 11.56rem;
    height: 12.06rem;
  }
}

@media screen and (min-width: 900px) {
  .photo-gallery .photo-grid-component .grid-view.view-tablet {
    display: none;
  }

  .photo-gallery .photo-grid-component .grid-view.view-desktop {
    display: flex;
  }

  .photo-gallery .photo-grid-component .grid-view.view-desktop .grid-item {
    width: 23.62rem;
    height: 24.69rem;
  }
}
