/* stylelint-disable selector-no-vendor-prefix */
.hide {
  display: none
}

.prompt-text::-moz-placeholder {
  color: #2c2c2c;
  opacity: 1;
}

.prompt-text.light::-moz-placeholder {
  color: #dbdbdb;
  opacity: 1;
}

.prompt-text::placeholder {
  color: #2c2c2c;
}

.prompt-text.light::placeholder {
  color: #dbdbdb;
}

.firefly-prompt {
  position: absolute;
  top: 16px;
  margin-inline: 16px;
}

.genfill-promptbar {
  position: absolute;
  top: 24px;
  margin-inline-start: 16px;
  height: 30px;
  display: flex;
}

.genfill-promptbar > button:hover {
  cursor: pointer;
}

.interactive-marquee.firefly .media {
  top: 72px;
}

.interactive-marquee.firefly .media picture img,
.interactive-marquee.firefly .media video {
  border-radius: 16px;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.blinking-cursor {
  height: 1.2em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-inline: 0;
  width: 1px;
  background: var(--text-color);
  animation: blink 0.95s infinite;
}

.blinking-cursor ~ .prompt-text {
  padding-inline-start: 0;
}

.blinking-cursor.blink-light:not(:focus) {
  background: #dbdbdb;
}

@media (max-width: 600px) {
  .firefly-selectortray {
    min-width: 110%;
    margin-inline: -22px 16px;
    justify-content: center;
    margin-top: -7px;
    margin-bottom: 24px;
  }

  .interactive-marquee.firefly .interactive-container {
    height: 440px;
  }

  .interactive-marquee.firefly .media {
    top: 8px;
  }

  .interactive-marquee.firefly .foreground {
    padding: 0;
  }
}

@media (min-width: 600px) and (max-width: 1199px) {
  .firefly-prompt {
    top: 32px;
    margin-inline: 32px;
  }

  .genfill-promptbar {
    top: 40px;
    margin-inline-start: 32px;
    height: 40px;
  }

  .firefly-selectortray {
    top: 0;
    margin-inline: 42px;
    width: 80%;
  }

  .interactive-marquee.firefly .interactive-container {
    height: 813px;
  }

  .interactive-marquee.firefly .foreground {
    padding: 0;
  }
}

@media screen and (min-width: 1200px) {
  .firefly-selectortray {
    top: 144px;
    position: absolute;
    right: -122px;
  }

  [dir="rtl"] .firefly-selectortray {
    left: -122px;
    right: 446px;
  }

  .firefly-prompt {
    top: 40px;
    margin-inline: 40px;
  }

  .genfill-promptbar {
    top: 56px;
    margin-inline-start: 40px;
    height: 50px;
  }
}

@media screen and (max-width: 1799px) and (min-width: 1650px) {
  .firefly-selectortray {
    top: 144px;
    position: absolute;
    right: -85px;
  }

  [dir="rtl"] .firefly-selectortray {
    left: -85px;
    right: 399px;
  }
}

@media screen and (max-width: 1649px) and (min-width: 1438px) {
  .firefly-selectortray {
    top: 144px;
    position: absolute;
    right: -35px;
  }

  [dir="rtl"] .firefly-selectortray {
    left: -35px;
    right: 359px;
  }
}

@media screen and (max-width: 1437px) and (min-width: 1200px) {
  .firefly-selectortray {
    top: 144px;
    position: absolute;
    right: 5px;
  }

  [dir="rtl"] .firefly-selectortray {
    left: 5px;
    right: 319px;
  }
}
