.animated-slot-text {
  --font-size: clamp(2rem, 5vw, 5rem); 
  --line-height: 1.1;
  --anim-ease: linear; 
  
  font-family: var(--body-font-family);
  font-size: var(--font-size);
  font-weight: 800;
}

.animated-slot-text .foreground > div {
  display: flex;
  font-size: var(--font-size);
  font-weight: 800;
  line-height: var(--line-height);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.1rem;
  contain: content;
  padding: 1rem;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}


.animated-slot-text .foreground .slot-static-text {
  color: var(--color-white);
  white-space: nowrap;
}

.animated-slot-text .foreground .slot-machine-window {
  position: relative;
  height: 1.2em; 
  overflow: hidden;
  display: flex;
  vertical-align: bottom; 
  max-width: 100%;
}

.animated-slot-text .foreground .slot-reel{
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: auto;
  min-width: max-content;
  will-change: transform;
}

.animated-slot-text .foreground .slot-item {
  color: var(--accent-color);
  height: 1.2em; 
  display: flex;
  align-items: center;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-shrink: 0;
}

@media (prefers-reduced-motion: reduce) {
  .animated-slot-text .foreground .slot-machine-window,.slot-reel {
    transition: none; 
    animation: none; 
    transform: none; 
    width: auto 
  }
  
}
